{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="password-page">
  <div class="form">
    <form class="password" action="/change_password" method="post">
      <input type="password" autofocus name="old_password" placeholder="old password"/>
      <div class="space"></div>
      <input type="password" name="new_password" placeholder="new password"/>
      <input type="password" name="confirmation" placeholder="confirm new password"/>
      <button class="btn btn-primary" type="submit">login</button>
      </form>
  </div>
</div>
{% endblock %}
