{% extends "layout.html" %}

{% block title %}
    Start Game
{% endblock %}

{% block main %}
<script>
  // Stop user from clicking Enter
  $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

// Change colour of letterboard based on clicks
let green_count = 0;
let count = {{ letters }}
function change_colour(letter)
{
  if (green_count < count)
  {
    if ($('span#' + letter).css('background-color') == 'rgb(238, 238, 238)')
    {
      $('span#' + letter).css('background-color', 'rgb(230, 0, 0)');
      $('span#guess-' + letter).css('background-color', 'rgb(230, 0, 0)');
    }
    else if ($('span#' + letter).css('background-color') == 'rgb(230, 0, 0)')
    {
      $('span#' + letter).css('background-color', 'rgb(50, 205, 50)');
      $('span#guess-' + letter).css('background-color', 'rgb(50, 205, 50)');
      upper = letter.toUpperCase();
      $('#found-letters').append("<span class='found' id='found-"+upper+"'>"+upper+"</span>");
      green_count++;
    }
    else if ($('span#' + letter).css('background-color') == 'rgb(50, 205, 50)')
    {
      $('span#' + letter).css('background-color', 'rgb(238, 238, 238)');
      $('span#guess-' + letter).css('background-color', 'rgb(255, 255, 255)');
      upper = letter.toUpperCase();
      $('span').remove("#found-"+upper);
      green_count--;
    }
  }
  else
  {
    if ($('span#' + letter).css('background-color') == 'rgb(238, 238, 238)')
    {
      $('span#' + letter).css('background-color', 'rgb(230, 0, 0)');
      $('span#guess-' + letter).css('background-color', 'rgb(230, 0, 0)');
    }
    else if ($('span#' + letter).css('background-color') == 'rgb(230, 0, 0)')
    {
      $('span#' + letter).css('background-color', 'rgb(238, 238, 238)');
      $('span#guess-' + letter).css('background-color', 'rgb(255, 255, 255)');
    }
    else if ($('span#' + letter).css('background-color') == 'rgb(50, 205, 50)')
    {
      $('span#' + letter).css('background-color', 'rgb(238, 238, 238)');
      $('span#guess-' + letter).css('background-color', 'rgb(255, 255, 255)');
      upper = letter.toUpperCase();
      $('span').remove("#found-"+upper);
      green_count--;
    }
  }
}

function update_colour(letter)
{
    if ($('span#' + letter).css('background-color') == 'rgb(238, 238, 238)')
    {
      $('span#guess-' + letter).css('background-color', 'rgb(255, 255, 255)');
    }
    else if  ($('span#' + letter).css('background-color') == 'rgb(230, 0, 0)')
    {
      $('span#guess-' + letter).css('background-color', 'rgb(230, 0, 0)');
    }
    else if ($('span#' + letter).css('background-color') == 'rgb(50, 205, 50)')
    {
      $('span#guess-' + letter).css('background-color', 'rgb(50, 205, 50)');
    }
}


// Add guessed words
let guessed_words = [];
function previous_word(word)
{
  for (let i = 0, len = guessed_words.length; i < len; i++)
  {
    if (word == guessed_words[i])
    {
      return false;
    }
  }
  return true;
}

let guess_count = 0;function check_for_guess()
{
  guess = $('input').val()
    if (guess.length == {{ letters }})
    {
      $("#guess").attr("disabled", "disabled");
        $.get("/guess", {guess: guess},
          (function(data)
          {
              if (data)
              {
                if (previous_word(guess))
                {
                  guessed_words.push(guess);
                  guess_count++;
                  $('#guesses').append("<br>");
                  $('#guesses').prepend("<div id='guess-"+guess_count+"'></div>")
                  for (let i = 0; i < {{ letters }}; i++)
                  {
                    let on_click = "\""+data[i]+"\""
                    $('#guess-'+guess_count).append("<span onclick='change_colour("+on_click+")' class='guess-letters' id='guess-"+data[i]+"'>"+data[i].toUpperCase()+"</span>");
                    update_colour(data[i]);
                  }
                  $('#guess-'+guess_count).append("<span class='guess-letters'>"+data[{{ letters }}]+"</span>");
                  $('#guess-error').html("");
                  $("#guess").removeAttr("disabled");
                  document.querySelector('input').focus()
                  if (data[{{ letters }}] == {{ letters }})
                    $('#guess-error').html("You Win!");
                }
                else
                {
                  $('#guess-error').html("You've already guessed that word");
                  $("#guess").removeAttr("disabled");
                  document.querySelector('input').focus()
                }
              }
              else
              {
                $('#guess-error').html("Please input a {{ letters }} letter word")
                $('input').val('');
                $("#guess").removeAttr("disabled");
                document.querySelector('input').focus()
              }
          })
        );
      $('input').val('');
      document.querySelector('input').focus()
    }
}


</script>


<h1 style="text-align: center"> JOTTO </h1>
<div class="row" id="letterboard">
  <div class="col-3" id="word-length">
    Word Length: {{ letters }}
  </div>
  <div class="col-9" id="letter-board" style="cursor: pointer;">
    <span id="a" class="lb-letters" onclick="change_colour('a')">A</span>
    <span id="b" class="lb-letters"  onclick="change_colour('b')">B</span>
    <span id="c" class="lb-letters" onclick="change_colour('c')">C</span>
    <span id="d" class="lb-letters" onclick="change_colour('d')">D</span>
    <span id="e" class="lb-letters" onclick="change_colour('e')">E</span>
    <span id="f" class="lb-letters" onclick="change_colour('f')">F</span>
    <span id="g" class="lb-letters" onclick="change_colour('g')">G</span>
    <span id="h" class="lb-letters" onclick="change_colour('h')">H</span>
    <span id="i" class="lb-letters" onclick="change_colour('i')">I</span>
    <span id="j" class="lb-letters" onclick="change_colour('j')">J</span>
    <span id="k" class="lb-letters" onclick="change_colour('k')">K</span>
    <span id="l" class="lb-letters" onclick="change_colour('l')">L</span>
    <span id="m" class="lb-letters" onclick="change_colour('m')">M</span>
    <span id="n" class="lb-letters" onclick="change_colour('n')">N</span>
    <span id="o" class="lb-letters" onclick="change_colour('o')">O</span>
    <span id="p" class="lb-letters" onclick="change_colour('p')">P</span>
    <span id="q" class="lb-letters" onclick="change_colour('q')">Q</span>
    <span id="r" class="lb-letters" onclick="change_colour('r')">R</span>
    <span id="s" class="lb-letters" onclick="change_colour('s')">S</span>
    <span id="t" class="lb-letters" onclick="change_colour('t')">T</span>
    <span id="u" class="lb-letters" onclick="change_colour('u')">U</span>
    <span id="v" class="lb-letters" onclick="change_colour('v')">V</span>
    <span id="w" class="lb-letters" onclick="change_colour('w')">W</span>
    <span id="x" class="lb-letters" onclick="change_colour('x')">X</span>
    <span id="y" class="lb-letters" onclick="change_colour('y')">Y</span>
    <span id="z" class="lb-letters" onclick="change_colour('z')">Z</span>
  </div>
</div>
<div class="row">
  <div class="col-8 game-window">
      <div class="row">
        <div class="col-4">
          <h3> Found letters </h3>
          <div id="found-letters">

          </div>
        </div>
        <div class="col-8" id="guess-field">
          <div id="guess-input">
            <form>
              <input type="text" maxlength="{{ letters }}" autocomplete="off" autofocus name="guess" placeholder="Guess the word" id="guess" onkeyup="check_for_guess()">
            </form>
          </div>
          <div id="guess-error">

          </div>
          <div id="guesses">

          </div>
        </div>
      </div>
  </div>
  <div class="col-4">
    <h2> Instructions </h2>
    <p id="instructions">
      Type in a letter to guess the word.
      <br>
      <br>
      Click the letters on the letterboard mark off right or wrong letters.
      <br>
      <br>
      Good luck!
    </p>
  </div>
</div>
{% endblock %}
