{% extends "layout.html" %}

{% block title %}
    Start Game
{% endblock %}

{% block main %}
<h1 style="text-align: center"> JOTTO </h1>
<div class="row">
  <div class="col-8"></div>
  <div class="col-4">
    <h2> Instructions </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum velit vel felis ornare semper. Mauris eget sapien metus. Vestibulum ullamcorper nisi a lobortis commodo. Aenean elementum purus ac pharetra molestie. Integer blandit fermentum pretium. Duis tristique ac nisl in congue. Proin nec leo arcu. Nulla vitae risus in massa vehicula venenatis non eget augue. Aenean nec augue ac tortor dapibus imperdiet. Maecenas eget dui a quam semper dignissim sit amet in nulla.</p>
  </div>
</div>
{% endblock %}
