{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}

<h1> Leaderboard </h1>
  <form action="/leaderboard" method="get">
      <button class="btn btn-primary" type="submit" name="lang" value="isograms">English</button>

      <button class="btn btn-primary" type="submit" name="lang" value="indonesian">Indonesian</button>
  </form>
<table class="table table-bordered">
        <thead class="thead-light">
    <tr>
        <th scope="col">Rank</th>
        <th scope="col">Username</th>
        <th scope="col">Wins</th>
    </tr>
        </thead>
   <tbody>
    {% for i in range(10) %}
    <tr>
        <td>{{i+1}}</td>
        <td>{{ user[i] }} </td>
        <td>{{ total_wins[i] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
