{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="login-page">
  <div class="form">
    <form class="login" action="/login" method="post">
      <input autocomplete="off" autofocus  type="text" name="username" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button class="btn btn-primary" type="submit">login</button>
      </form>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
      <p class="message">Forgotten password? <a href="/reset_password">Reset it here</a></p>
  </div>
</div>
{% endblock %}
