{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
<script type=text/javascript>
  $(function() {
    $('input#username').bind("keyup", function()
    {
      $.getJSON('/check_question', {
        username: $('input#username').val()
      }, function(data) {
        $("#question").html(data)
      });
    });
  });
</script>

  <div class="reset_password-page">
    <div class="form">
      <form class="reset_password" action="/reset_password" method="post">
        <input autocomplete="off" autofocus  type="text" name="username" id="username" placeholder="username"/>
        <p class="message" id="question">Input correct username</p>
        <input type="text" autocomplete="off" name="answer" placeholder="answer"/>
        <div class='space'></div>
        <input type="password" name="new_password" placeholder="new password"/>
        <input type="password" name="confirmation" placeholder="confirm password"/>
        <button class="btn btn-primary" type="submit">reset</button>
      </form>
    </div>
  </div>

{% endblock %}
