{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
<script type=text/javascript>
  $(function() {
    $('input#username').bind("keyup", function()
    {
      $.getJSON('/check_question', {
        username: $('input#username').val()
      }, function(data) {
        $("#question").html(data)
      });
    });
  });
</script>

  <div class="reset_password-page">
    <div class="form">
      <h1> Reset Password </h1>
      <form class="reset_password needs-validation" action="/reset_password" method="post" novalidate>
        <input autocomplete="off" autofocus  type="text" name="username" id="username" placeholder="username"/>
        <p class="message" id="question">Input correct username</p>
        <input type="text" autocomplete="off" name="answer" placeholder="answer" class="form-control" required>
        <div class="invalid-feedback">
          Please enter an answer.
        </div>
        <div class='space'></div>
        <input type="password" name="new_password" placeholder="new password" class="form-control" required>
        <div class="invalid-feedback">
          Please enter a password.
        </div>
        <input type="password" name="confirmation" placeholder="confirm password" class="form-control" required>
        <div class="invalid-feedback">
          Please confirm password.
        </div>
        <button class="btn btn-primary" type="submit">reset</button>
      </form>
    </div>
  </div>


  <script>
  // Script from https://getbootstrap.com/docs/4.3/components/forms/
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
{% endblock %}
